/* stylesheet.css */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700|Open+Sans|Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@font-face { font-family: 'neosans';
	src: url('../fonts/neosans/neosans.woff') format('woff'),
		  url('../fonts/neosans/neosans.woff2') format ('woff2'),
		  url('../fonts/neosans/neosans.otf') format ('opentype');
} /* neosans */
@font-face { font-family: 'stainy'; 
	src: url('../fonts/stainy/stainy-personaluseonly.woff') format('woff'),
		  url('../fonts/stainy/stainy-personaluseonly.woff2') format('woff2'),
		  url('../fonts/stainy/stainy-personaluseonly.ttf') format('truetype');
} /* stainy */

body { position: relative; padding-top: 50px; background-color: #212121;  margin-top: 0; }
p { margin: 0; }
section { padding-top: 50px; margin-top: -50px; }
.container-fluid { padding: 0; margin: 0; }
.container { width: 70%; margin: auto; padding: 0; min-height: 20px; }
img { margin: 0px 0px 10px 0px; }

/* Festival banner */
#festival-banner { height: auto; }
.sub-heading { font-family: 'Raleway', sans-serif; font-size: 18px; }
.heading { font-family: 'Raleway', sans-serif; font-size: 32px; font-weight: bold; margin-top: 10px;}
img#clock-img { transform: translate( 305%, -21% ); max-width: 130px; height: auto; }
img#clock-img-bg { max-width: 150px; height: auto; transform: translate( 258%, -25%)}
#block-left { padding-top: 5px; }

/* Festival summary */
.border-square {   color: #b0b0b0;  border-radius:25%; border: 1px solid #b0b0b0; width:36px; }
#festival-summary i { padding: 0px; font-size: 32px; margin-right: 10px;}


/* Section styles */
.bg-gray1-c-white { background-color: #333333; color: white; }
.bg-gray2-c-gray3 { background-color: #ededed; color: #7b7b7b; }
.bg-gray3-c-white { background-color: #7b7b7b; color: white; }
.bg-gray4-c-white { background-color: #909090; color: white; }
.bg-gray5-c-gray1 { background-color: #f0f0f0; color: #333333; }
.bg-gray5-c-white { background-color: #f0f0f0; color: white; }
.bg-gray6-c-white { background-color: #777777; color: white; }
.bg-gray7-c-white { background-color: #212121; color: white; }
.bg-white-c-gray1 { background-color: white; color: #333333; }
.bg-white-c-gray4 { background-color: white; color: #909090; }
.bg-white-c-gray6 { background-color: white; color: #777777; }
.bg-white-c-red { background-color: white; color: #f10f24; }
.bg-red-c-white { background-color: #f10f24; color: white; }

/* Navbar styles */
.navbar-collapse { background: #212121; }
.nav.navbar { width: 70%;  padding: 1px; height: 50px; }
.fa-map-marker { padding-left: 5px; }
.logo-red { font-family: 'Raleway', cursive; font-size: 18px; color: #f10f24; font-weight: bold; padding-left:5px; padding-right: 3px;}
.logo-white { font-family: 'Raleway', sans-serif; font-size: 18px; color: white; font-weight: bold; }
#navbar { background-color: #212121!important; }
ul { font-family: 'Open Sans Condensed', sans-serif; }
a.nav-link { padding: 5px 0px; }
a.nav-link:hover { background-color: #f10f24; color: white!important; }
a.nav-link:focus { background-color: #f10f24; color: white!important; }
a.navbar-brand { margin: 0 5px;}
i.fa { display: block; }

/* Carousel styles */
.carousel { height: 350px; width: 75%; margin: 20px; margin-bottom: 80px; border: 2px solid white; }
.carousel .item { height: 350px; }
.carousel-indicators li{
	border-radius: 30px;
	width: 8px;
	height: 8px;
	cursor: pointer;
	background-color: white;
	margin-bottom: 10px;
	border: 
}
.carousel-indicators .active {
	border-radius: 30px;
	width: 8px;
	height: 8px;
	cursor: pointer;
	background-color: #f10f24;
	margin-bottom: 10px;
	border-color: 2px, black;

}

/* Button styles */
.btn-register { display: inline; background-color: #f10f24; color: white; width: 110px; height: 40px; text-transform: uppercase; margin: 10px 0px 10px 10px; border: 1px solid #212121;}


/* Social icon styles */
.fa-social { font-size: 48px;
	margin-top: -32px;
	color: #333;
	background-color: rgba(240, 240, 240, 0.75);
	padding: 10px 10px 5px 10px;
	margin-left: 25px;
	margin-right: 25px;
}
.fa-social:hover {
	background-color: white;
	color: red;
	text-decoration: none;
}

/* The Standard Bootstrap 4.x Breakpoints */
@media all and (max-width: 1199px) { ... }
@media all and (max-width: 991px) { ... }
@media all and (max-width: 768px) {
	body {  }
	.nav.navbar { padding: 5px 0px; }
}
@media all and (max-width: 575px) { ... }