/* stylesheet.css */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700|Open+Sans|Open+Sans+Condensed:300,700');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body { position: relative; padding-top: 50px; margin-top: -50px; background-color: #212121;  margin-top: 0; }
section { padding-top: 50px; margin-top: -50px; height: auto; }
p { margin: 0; }
h2 { color: #333; padding-bottom: 25px; padding-top: 25px;}
.container-fluid { padding: 0; margin-top: 0px; }
.container { width: 70%; margin: auto; padding: 0; }

/* Navbar styles */
.navbar-collapse { background: #212121; }
.nav.navbar { width: 70%;  padding: 1px; height: 50px; }
.fa-map-marker { padding-left: 5px; }
.logo-red { font-family: 'Titillium Web', cursive; font-size: 18px; color: #f10f24; font-weight: bold; padding-left:5px; padding-right: 3px;}
.logo-white { font-family: 'Raleway', sans-serif; font-size: 18px; color: white; font-weight: bold; }
#navbar { background-color: #212121!important; }
ul { font-family: 'Open Sans Condensed', sans-serif; }
a.nav-link { padding: 5px 0px; }
a.nav-link:hover { background-color: #f10f24; color: white!important; }
a.nav-link:focus { background-color: #f10f24; color: white!important; }
a.navbar-brand { margin: 0 5px;}
i.fa { display: block; }

/* Carousel styles */
.carousel { height: auto; width: 100%; margin: 20px; margin-bottom: 80px; border: 2px solid white; }
.carousel.item { height: auto; width: 100% }
.carousel-inner { width: 100%; height: auto; }
.carousel-caption { left: 45px; }
.carousel-indicators li{
	border-radius: 30px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-color: white;
	margin-bottom: 10px;
	border: 1px solid #212121; ;
}
.carousel-indicators .active {
	border-radius: 30px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-color: #f10f24;
	margin-bottom: 10px;
	border: 1px solid #aaa;

}
.carousel-caption { top: 5%; bottom: auto; width: 90%; }
.font-red-sm-title { font-family: 'Roboto', sans-serif; font-size: 1.2vw; color: #f10f24; font-weight: bolder; }
.font-white-sm-title { font-family: 'Roboto', sans-serif; font-weight: 700; font-size: 1.2vw; color: white; }
.font-red-bold-title { font-family: 'Roboto', sans-serif; font-weight: bold; color: #f10f24; font-size: 3.5vw; text-shadow: 2px 2px slategray}
.font-white-title { font-family: 'Open Sans Condensed', sans-serif; color: white; font-weight: 100; font-size: 3.5vw; }
.font-white-subtitle { font-family: 'Open Sans Condensed', sans-serif; color: white; font-weight: bold; font-size: 1.6vw; padding-top: 30px; }
.carousel-img { opacity:0.25; width: 100%; height: 350px; }

/* Festival banner */
#festival-banner { height: auto; }
.sub-heading { font-family: 'Raleway', sans-serif; font-size: 2.0vw; }
.heading { font-family: 'Raleway', sans-serif; font-size: 4vw; text-shadow: 5px 3px #212121; font-weight: bold; margin-top: 10px; }
#time-icon { left: 50%; max-width: 170px; height:auto; transform: translate( -50%, -15%); }
#block-left { padding-top: 5px; padding-bottom: 5px;}

/* Festival summary */
.border-square {   color: #b0b0b0;  border-radius:25%; border: 1px solid #b0b0b0; width:36px; }
#festival-summary i { padding: 0px; font-size: 32px; margin-right: 10px; color: #333; margin-top: 5px; }
.card-subtext { font-size: 1.1vw; font-weight: bold; color: #212121; }
#festival-summary .card { font-size: 1.4vw; border: 1px solid #333; }
#festival-summary .card-text { color: #212121; text-shadow: 2px 3px lightgray}
#festival-summary { margin: 0px 0px 0px 0px; padding: 0px, 0px, 0px, 0px; }

/* Festival pricing */
#festival-pricing { height: 150px; background-color: #212121; }

/* Festival registration */
.reg-p { margin-bottom: 0; }
#reg-fullname, #reg-email { width: 200px; }
#reg-sel-tickets { border-radius: 0px; padding-left: 3; margin: 0; width: auto; }
.btn-danger { background-color: #f10f24; }
.btn-dark, .btn-danger { border-radius: 0px; width: 100px; height: 38px; font-size: 1vw; }
.reg-container { padding: 0; font-size: 1vw; }
.reg-container-fluid { border: 1px solid #333; }
.boxed { border: 1px solid #333; padding: 5px;}


/* Festival schedule */
.nav-tabs { font-family: 'Open Sans', sans-serif; }
#schedule a.nav-link { border-radius: 0px;}
#schedule a.nav-link.active.show { background-color: #f10f24; color: white;}
#schedule a.nav-link { margin-right: 3px; padding: 5px; color: #333333; }
#schedule a.nav-link:hover {background-color: #f10f24; color: white; }
#schedule a.nav-link:active { background-color: #f10f24; color: white; }
.nav-tabs .active { background-color: red; }
.nav-tabs > li > a:focus {	color: limegreen; }
.nav-tabs > li { border: red; }
.nav-tabs > li > a { font-family: 'Raleway', sans-serif !important; border-radius: 0px; text-decoration: none; border: #212121; display: block; color: #212121; }
.nav-tabs > li > a:link { font-family: 'Courier', sans-serif; color: #aaaaaa; }
.nav-tabs > li > a:hover { background-color: #f10f24; color: white; }
.nav-tabs > li > a:active { color: #f10f24 !imporant; }
.nav-tabs > li > a:target { color: white; background-color: #f10f24 }
.tab-content { width: auto; }
.film-category { font-family: 'Titillium Web', sans-serif; font-size: 48px; text-shadow: 2px 4px #e1e1e1; color: #212121; }
.film-title { font-family: 'Titillium Web', sans-serif; font-size: 24px; padding-left: 5px; color: #212121; }
.film-year { padding-left: 5px; color: #333; font-family: 'Titillium Web', sans-serif; font-size:24px; }
.film-cast { font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: bold; color: #909090; display: inline-block; }
.bad-tomato { width: 80px; margin-top: 0px}
.bt-score { font-family: "Titillium Web", sans-serif; margin-top: 5px; color: #333333; }
.clock-and-sch { background-color: #f10f24; color: white; padding: 3px; font-weight: bold; }
#worst { text-shadow: 2px 2px #f10f24; }
.sch-text { font-family: 'Open Sans', sans-serif; color: #333; padding-right: 15px; text-align: justify; }

/* Film trailer */
#schedule iframe { position: relative; margin-top: 75px; width: 320px; height: 180px; float: right; }
#schedule div.col-5 { padding: 0px; position: relative; bottom: 0px; left: 0px;}

/* Button styles */
.btn { display: inline; color: white; text-transform: uppercase; border-radius: 0px; }
.btn-film-register { background-color: #f10f24; color: white; margin-bottom: 0px; height: 3vw}

/* Photo gallery */
.img-thumbnail { width: 125px ; height: 125px; border: 1px solid #333; }
#pg-main-body div.col-md-2 { padding: 1px}
.pg-search { background-color: #f10f24; border: 2px solid white; padding: .25rem; border-radius: .25rem; }
#pg-col-left, #pg-col-right { height: 350px; border: 1px solid #333; }
#pg-col-left { padding: 3px; border-radius: 3px; margin-left }
#pg-col-right { padding: 3px; border-radius: 3px;}
.pg-hd-text { font-size: 1.99vw; }
#pg-thumb-strip { margin: 8px 0px !important; }
#pg-button { border: 3px solid white; border-radius: 3px;  margin: 3px; color: white; font-size: 2vw; }
#pg-btn-text { font-family: 'Open Sans', sans-serif; }

/* Social icon styles */
.fa-social { font-size: 48px;
	margin-top: -32px;
	color: #333;
	background-color: rgba(240, 240, 240, 0.75);
	padding: 10px 10px 5px 10px;
	margin-left: 25px;
	margin-right: 25px;
}
a i.fa-social:hover {
	color: #f10f24;
	text-decoration: none;
}
a:hover { text-decoration: none; }

/* Section styles */
.bg-gray1-c-white { background-color: #333333; color: white; }
.bg-gray2-c-gray3 { background-color: #ededed; color: #7b7b7b; }
.bg-gray3-c-white { background-color: #7b7b7b; color: white; }
.bg-gray4-c-white { background-color: #909090; color: white; }
.bg-gray5-c-gray1 { background-color: #f0f0f0; color: #333333; }
.bg-gray5-c-white { background-color: #f0f0f0; color: white; }
.bg-gray6-c-white { background-color: #777777; color: white; }
.bg-gray7-c-white { background-color: #212121; color: white; }
.bg-white-c-gray1 { background-color: white; color: #333333; }
.bg-white-c-gray4 { background-color: white; color: #909090; }
.bg-white-c-gray6 { background-color: white; color: #777777; }
.bg-white-c-red { background-color: white; color: #f10f24; }
.bg-red-c-gray1 { background-color: #f10f24; color: #333333; }
.bg-red-c-white { background-color: #f10f24; color: white; }
.text-red { color: #f10f24; font-weight: bold; }

/* The Standard Bootstrap 4.x Breakpoints */
@media all and (max-width: 1199px) { }
@media all and (max-width: 991px) { 
	#time-icon { display: none; }
	#block-left p, span { text-align: center; }
	#block-right p, span { text-align: center; }
}
@media all and (max-width: 768px) {
	.nav.navbar { padding: 5px 0px; }
}
@media all and (max-width: 575px) { }